@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.app-title {
    text-align: center;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    font-family: courier;
}
.app-result {
    text-align: center;
    color: #C91A37;
    font-size: 13px;
    font-family: courier;
}
#outputInfo {
    color: red;
    font-family: arial;
    font-size: 11px;
}
.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    max-width: 250px;
    margin: 0 auto;
}
.btn:hover {
    background-color: #2980B9;
}
